body {
    background: black;
    font-family: 'Cinzel', serif;
}

a {
    text-decoration: none;
}

h1 {
    padding-top: 15px;
}

h1, h2 {
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

.top-title {
    background-color: blueviolet;
    width: 100%;
    height: 70px;
}

.volumes, .volume, .chapter {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
}

.coming-soon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.coming-soon img {
    width: 40%;
    margin-bottom: 20px;
}

.left-foot img {
    visibility: visible;
    margin-top: 20px;
    padding-left: 50px;
    width: 50%;
}

.left-foot img:hover {
    visibility: visible;
    margin-top: 0px;
    width: 70%;
    padding-left: 30px;
}

.left-foot {
    width: 33%;
}

.right-foot {
    width: 66%;
    background-color: blueviolet;
}

.right-foot li {
    list-style-type: none;
}

.right-foot ul li a {
    align-items: center;
    margin-left: 20px;
    color: white;
}

.right-foot a:hover {
    color: blue;
}

footer {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    h2 {
        display: none;
    }

    .volumes {
        margin-top: 20px;
    }

    .volume {
        width: 200px;
    }

    .left-foot {
        width: 66%;
    }

    .right-foot {
        width: 33%;
    }
}