body {
    background: black;
    font-family: 'Cinzel', serif;
}

a {
    text-decoration: none;
}

h1, h2 {
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

.volumes, .volume, .chapter {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
}

.coming-soon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.coming-soon img {
    width: 40%;
}

.left-foot img {
    visibility: visible;
    margin-top: 20px;
    padding-left: 50px;
    width: 50%;
}

.left-foot img:hover {
    visibility: visible;
    margin-top: 0px;
    width: 70%;
    padding-left: 30px;
}

.left-foot, .right-foot {
    width: 50%;
}

.right-foot ul {
    align-items: center;
    margin-left: 40px;
}

footer {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    .volumes, .volume {
        display: inline-block;
        margin-left: 15%;
        margin-right: 15%;
    }
}